@use "@/styles/mixins";
@use "@/components/Navbar/vars" as navbar;
@use "@/components/Toc/vars" as toc;

$navbar-height: navbar.$navbar-height;
$toc-width: toc.$desktop-toc-width;

.column {
  @include mixins.desktop-only(flex) {  width: 100%;
    flex: 0 0 #{$toc-width};
    max-width: $toc-width;

    .tocContainer {
      $top: 1rem;
      $margin-bottom: 1rem;
      
      position: sticky;
      top: calc(#{$navbar-height} + #{$top});
      max-height: calc(100vh - #{$navbar-height} - #{$top} - #{$margin-bottom});
      
      margin: $top auto $margin-bottom 0;
      padding-left: 1rem;
      border-left: 1px solid #dddddd;
      
      flex-direction: column;
      
      overflow-y: auto;
      @include mixins.scrollbar(4px);
    }
  }
}