@use "@/styles/colors";
@use "@/components/Navbar/vars" as navbar;

$navbar-height: navbar.$navbar-height;

/* markdown styles */
.markdown {

  // blockquotes
  blockquote {
    color: #808080;
    border-left: 2px solid #808080;
    padding-left: 1rem;
    border-radius: 2px;
  }

  // inline code
  code {
    vertical-align: middle;
    padding: 0.1rem 0.25rem;
    border-radius: 0.25rem;
    background-color: #ddd; // TODO: standardize colors
  }

  // code blocks
  pre {
    border-radius: 0.5rem;

    code {
      padding: unset;
      border-radius: unset;
      background-color: unset;
    }
  }

  /* apply these styles only in markdown "content" (i.e. articles) */ 
  &.content {

    // don't let target be covered by navbar
    * {
      scroll-margin-top: $navbar-height;
    }

    // heading margins
    h1, h2, h3, h4, h5, h6 {
      $heading-margin-top: 2em;

      margin: $heading-margin-top 0 1em;
      scroll-margin-top: calc(#{$navbar-height} + #{$heading-margin-top});
    }

    // block margins
    > * {
      margin: 1rem;

      // don't add margin to first child (the whole markdown container has top margin already)
      &:first-child {
        margin-top: 0;
      }
    }
  }
}