@use "@/styles/mixins";
@use "@/components/Sidebar/styles.module" as sidebar;
@use "@/components/Toc/styles.module" as toc;

$sidebar-width: sidebar.$desktop-sidebar-width;
$toc-width: toc.$desktop-toc-width;

.contentWrapper {
  width: 100%;
  display: flex;

  @include mixins.desktop() {
    flex-grow: 1;
    max-width: calc(100% - #{$sidebar-width});
  }
}