@use "@/styles/mixins";
@use "@/components/Sidebar/styles.module" as sidebar;

$sidebar-width: sidebar.$desktop-sidebar-width;

.contentWrapper {
  width: 100%;
  display: flex;
  
  @include mixins.desktop() {
    flex-grow: 1;
    max-width: calc(100% - #{$sidebar-width});
  }
}