@use "@/styles/mixins";
@use "@/components/Sidebar/Desktop/styles.module" as desktop-sidebar;

$navbar-height: 0;
$sidebar-width: desktop-sidebar.$desktop-sidebar-width;

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidebarContainer {
  @include mixins.desktop-only(block) {
    width: $sidebar-width;
    height: 100%;
    border-right: 1px solid #dddddd; // TODO: unify colors
    clip-path: inset(0);
    margin-top: $navbar-height * -1;
  }
}

.contentWrapper {
  width: 100%;
  display: flex;

  @include mixins.desktop() {
    flex-grow: 1;
    max-width: calc(100% - #{$sidebar-width});
  }

  .contentContainer {
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px - $sidebar-width; // TODO: pick less arbitrary value
  }
}