@use "@/styles/colors";

$navbar-height: 76px;

.navbar {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  background-color: colors.$white;
  border-bottom: 1px solid #dddddd;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      font-weight: 700;

      > img {
        width: 60px;
        height: 60px;
      }
    }
  }

  .right {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &.hidden {
      display: none;
    }

    .navItem {
      display: flex;
      align-items: center;
      text-decoration: none;
    }
  }
}