$gap: 2rem;

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $gap;
}

.card {
  --border-color: #ebedf0;
  --shadow-color: hsla(0deg 0% 0% / 20%);
  
  height: 8rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  padding: 1rem;

  box-shadow: 0 2px 4px var(--shadow-color);
  &:hover {
    box-shadow: 0 4px 8px var(--shadow-color);
  }

  transition: box-shadow 400ms ease 0s;
}