@use "./mixins";
@use "@/components/Navbar/styles.module.scss" as navbar;

@import "./reset";
@import "./katex-0.15.2/katex.min.css";

html {
  @include mixins.scrollbar();
  scroll-behavior: smooth;
}

* {
  scroll-margin-top: navbar.$navbar-height;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
}