@use "./mixins";

@import "./reset";
@import "./katex-0.15.2/katex.min.css";

html {
  @include mixins.scrollbar();
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  min-height: 100%;
}