@use "@/styles/breakpoints";

@mixin desktop() {
  @media (min-width: breakpoints.$desktop) {
    @content;
  }
}

@mixin desktop-only($display: unset) {
  display: none;
  @media (min-width: breakpoints.$desktop) {
    display: $display;
    @content;
  }
}


@mixin scrollbar(
  $scrollbar-size: 8px,
  $track-color: #eeeeee,
  $thumb-color: #000000,
  $track-border-radius: $scrollbar-size,
  $thumb-padding: 0px,
  $thumb-border-radius: $scrollbar-size,
  ) {
  &::-webkit-scrollbar {
    height: $scrollbar-size;
    width: $scrollbar-size;

    &-track {
      background-color: $track-color;
      border-radius: $track-border-radius;
    }
    
    &-thumb {
      background-color: $thumb-color;
      border-radius: $thumb-border-radius;
      border: $thumb-padding solid $track-color; 
    }
  }
}