@use "@/styles/colors";

.link {
  padding: 0.5rem;
  font-weight: 600;

  transition: color 400ms ease;

  &:hover {
    color: colors.$red;
  }
}

.external {
  display: inline-block;
  width: 1em;
  height: 1em;
  text-align: baseline;
  margin-left: 0.25em;
}