@use "@/styles/mixins";
@use "@/components/Navbar/styles.module" as navbar;
@use "@/components/Sidebar/styles.module" as sidebar;

$navbar-height: navbar.$navbar-height;
$sidebar-width: sidebar.$desktop-sidebar-width;

.column {
  position: sticky;
  top: 0;
  padding-top: $navbar-height;
  
  width: $sidebar-width;
  height: 100%;
  max-height: 100vh;
  
  display: flex;
  flex-direction: column;
  
  .container {
    @include mixins.desktop-only(flex) {
      flex-grow: 1;
      border-right: 1px solid #dddddd; // TODO: unify colors
      clip-path: inset(0);
      flex-direction: column;
  
      overflow-x: hidden;
      @include mixins.scrollbar(4px);
    }
  } 
}